:root {
  --navigation-: rgb(20, 23, 36);
  --default-5: #e0b03c;
  --default-6: #ffc63e;
  --default-7: #ffe18b;
  --default-8: #f9eed3;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
html {
  scroll-behavior: smooth;
  scroll-padding: var(--scroll-padding, 5em);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  width: 100%;
  position: fixed;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navigation-);
}
.logo > img {
  width: 210px;
  margin: 10px;
}

.nav-items {
  display: inline-block;
  list-style: none;
  padding: 15px;
}

.nav-links {
  text-decoration: none;
  color: #fffff0;
  font-size: 1.1em;
}
.nav-links:hover {
  color: var(--default-7);
}

body {
  font-family: "PT Serif", serif;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* Start of Hero Section */
.Hero {
  width: 100%;
}
.containers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(221, 223, 230);
  padding: 60px;
}
.content {
  text-align: center;
  font-size: 2em;
  padding: 20px;
}
.heads {
  font-weight: 600;
  font-size: 1.3em;
}
.banner > img {
  width: 350px;
}
.explore {
  padding: 20px;
}
.btns {
  font-size: 0.6em;
  text-decoration: none;
  border: 1px solid black;
  padding: 10px;
  color: black;
  transition: var(--transition);
  border-radius: 5px;
  line-height: 1;
}
.btns:hover,
.btns:focus-visible {
  outline: none;
  box-shadow: 4px 4px 0 0 black;
  transform: translate(-5px, -5px);
}

/* End of Hero Section */

/* Start of About Section */
.About {
  width: 100%;
  background-color: rgb(227, 227, 236);
}
.titles {
  font-weight: 600;
  font-size: 2em;
  padding: 10px;
}
.mission,
.vision {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.contents {
  text-align: justify;
  padding: 20px;
}
.contents > p {
  font-size: 1.2em;
}
.imgs > img {
  width: 230px;
}
.principles {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.found {
  display: flex;
  justify-content: end;
  padding: 20px;
  font-weight: 600;
}

/* Start of Products Section */
.Products {
  width: 100%;
}
.images {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.images > img {
  width: 300px;
  padding: 10px;
}
.product-title {
  padding: 10px 20px;
  font-size: 1.4em;
  font-weight: 600;
}
.description {
  padding: 10px 20px;
}
.description > p {
  font-weight: 600;
}
.description > ul {
  padding: 10px;
}
.description > ul > li {
  list-style: none;
  padding: 10px;
}
.modal-title{
  padding-top: 10px;
}
/* Global Variables */
.open-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: none;
  color: white;
  margin-top: 2%;
}
.open-img.active {
  display: flex;
}
.open-img > img {
  width: 300px;
  height: fit-content;
}
.hidden-img {
  width: 100%;
  height: 110%;
  position: fixed;
  background-color: #3a4a6da9;
  z-index: -1;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
button {
  position: fixed;
  top: 50%;
  font-size: 3em;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
/* End of Global Variables */
@media (width > 750px) {
  .nav-links > i {
    display: none;
  }
}
@media (width < 720px) {
  .navlist {
    position: fixed;
    height: 60px;
    width: 100%;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(30, 34, 51);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
  .nav-links > i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1em;
  }
  /* Start of Hero Section */
  .banner > img {
    width: 300px;
  }
  .heads {
    font-weight: 600;
    font-size: 0.9em;
    padding: 5px;
  }

  /* Start of About */
  .vision {
    flex-direction: column-reverse;
  }

  /* Start of Product Section */

  .open-img > img {
    width: 250px;
  
  }
  .modal-title{
    padding-top: 5px;
  }
}
@media (width < 420px) {
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.9em;
  }
}
